sudo apt install -y \
  ros-jazzy-rviz2 \
  ros-jazzy-rqt \
  ros-jazzy-rqt-graph \
  ros-jazzy-rqt-image-view \
  ros-jazzy-image-tools \
  ros-jazzy-cv-bridge \
  ros-jazzy-image-transport \
  ros-jazzy-vision-opencv \
  ros-jazzy-tf2 \
  ros-jazzy-tf2-ros \
  ros-jazzy-tf2-tools \
  ros-jazzy-geometry-msgs \
  ros-jazzy-sensor-msgs \
  ros-jazzy-nav-msgs \
  ros-jazzy-twist-mux \
  ros-jazzy-teleop-twist-keyboard

sudo apt install -y \
  v4l-utils \
  ffmpeg \
  ros-jazzy-usb-cam

  #test Camera
v4l2-ctl --list-devices
ls /dev/video*

#OpenCV
sudo apt install -y python3-opencv libopencv-dev python3-numpy

#Hand gesture recognition libraries
pip3 install --break-system-packages mediapipe

#owner recognition (face-recognition is PyPI only; cmake + build tools needed for dlib)
sudo apt install -y cmake build-essential libboost-all-dev
pip3 install --break-system-packages dlib face-recognition imutils

#ROS packages
cd qbot_ws/src
ros2 pkg create --build-type ament_python vision_node
ros2 pkg create --build-type ament_python gesture_node
ros2 pkg create --build-type ament_python behavior_node
ros2 pkg create --build-type ament_python qbot_bringup